@model abcRetail.Models.Customer

@{
    ViewData["Title"] = "EditCustomer";
}

<h4>Customer</h4>
<hr />
<section class="row">
    <section class="col-md-4">
        <form asp-action="EditCustomer">
            <section asp-validation-summary="ModelOnly" class="text-danger"></section>
            <input type="hidden" asp-for="CustomerID" />
            <section class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </section>
            <section class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </section>
        </form>
</section>
</section>

<footer>
    <a asp-action="Index_Customer">Customers</a>
</footer>Index_Customer">Customers</a>


